.btn {
    font-size: 16px;
    font-weight: 800;
    padding: 21px 41px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;

    &--theme--yellow {
        background: #FEDB3F;
        color: #000000;
    }

    &:hover {
        color: #FEDB3F;
        background: #000000;
    }
}