.btn {
    font-size: 16px;
    font-weight: 800;
    padding: 21px 41px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    background: #FEDB3F;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    border: none;


    &:hover {
        color: #FEDB3F;
        background: #000000;
    }

    &--theme--transparent {
        background: transparent;
        color: #fff;
        text-transform: none;

        &:hover {
            background: transparent;
            color: #000000;
        }
    }
}