.order-section {
    background: url("/Surf/Surfboard/img/bg/jeremy-bishop-cmt3JdS5MC4-unsplash.jpg") center top /cover no-repeat;
    background-color: #2B2B2B;
    background-blend-mode: overlay;
    color: #fff;
    height: 652px;
}
.section__title{
    color: #fff;
}
